<div style="margin-bottom: 100px;">
    <h2 style="line-height: 40px;"><b>Antimony</b> is pure rust stream processing / distributed computation platform that is real-time, fault-tolerant,</h2>
</div>
<div class="row row-big">
    <div class="col-md-4">
        <div class="box">
            <h3>antimony-core</h3>
            <p class="box-description">Contains the core components; antimony daemon, container allocation, message routing, component discovery, etc. </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <h3>antimony-rs</h3>
            <p class="box-description">An interface used to build topologies...</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <h3>antimony-cli</h3>
            <p class="box-description">a CLI tool to deploy/manage topologies</p>
        </div>
    </div>
</div>
{{ content }}